<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<div class="form-group">
				<center>
					<img src="/photo.jpg" class="img-responsive"/>
				</center>
			</div>
			<a href="https://dl.dropbox.com/s/1ouca6f21e5yd1n/fappedia.apk?dl=0" class="btn btn-lg btn-block btn-success">Download para Android</a>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>
