<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<div class="form-group">
				<center>
					<img src="/photo.jpg" class="img-responsive"/>
				</center>
			</div>
			<a href="http://ddl2.data.hu/get/0/9736602/fappedia.apk" class="btn btn-lg btn-block btn-success">Download para Android</a>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>